.seatLayout {
  .rows {
    .row {
      height: inherit;

      span {
        float: left;
        padding: 8px;
        margin: 2px;

        &.rowname {
          font-size: 10px;
          padding: 0;
          margin: 3px;
          width: 15px;
          font-weight: 500;
        }

        &.seat {
          border: solid 1px #ddd;
          border-radius: 2px;

          &.available {

            &:hover,
            &.booked {
              background: green;
              cursor: pointer;
            }
          }

          &.unavailable {
            background: #ccc;
            cursor: not-allowed;
          }
        }
      }
    }
  }
}