.wrapper {
  font-size: 0.75em;

  ul {
    margin: 0;
    padding: 0;
  }

  .region-wrapper {
    margin: 1em;
    margin-top: 5em;
    padding: 10px;
  }

  .dropdown-wrapper {
    &.seatsList {
      select {
        width: 75px;
      }
    }
  }

  .line {
    background: #ccc;
    padding: 0.5px;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .row {
    height: 100vh;
  }

  .no-list-style {
    li {
      list-style-type: none;
    }
  }

  .border-right {
    border-right: solid 1px;
  }

  div {
    &.timings {
      width: 100%;

      ul {
        margin: 0;
        padding: 0;

        li {
          float: left;
          margin-right: 30px;
          margin-bottom: 20px;
        }
      }
    }
  }

  .capacity {
    span {
      font-weight: 500;
    }
  }

  .seats-legends {
    width: 100%;

    ul {
      li {
        span {
          &.legend {
            display: inline-block;
            padding: 6px;
            border: solid 1px #ccc;
            border-radius: 3px;
            margin-right: 20px;

            &.success {
              background: rgb(0, 128, 0);
            }

            &.half-success {
              background: rgba(0, 128, 0, 0.3);
            }

            &.unavailable {
              background: #ccc;
            }
          }
        }
      }
    }
  }
}